@charset "UTF-8";

/* ======================================================================
header
====================================================================== */
.header {
    position: fixed;
    top: 5%;
    left: 5%;
    right: 0;
    width: 170px;
    height: 8vh;
    z-index: 10;
}

@media screen and (max-width: 480px) {
    .header {
        left: 0;
    }

    .header .sub {
        left: 0;
    }
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 280px) {
    .header-inner {
        padding-left: 5px;
    }
}

/* ========================= icon ========================= */
.header-icon {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #AAA;
    background-color: #287ADC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 8;
}

.header-icon:hover {
    cursor: pointer;
    box-shadow: none;
    transform: translate(10px, 2px);
    opacity: .8;
}

.icon-line1 {
    width: 40%;
    height: 1px;
    background-color: #EEE;
    transition: all .3s ease-in-out;
}

.icon-line2 {
    width: 100%;
    height: 1px;
    background-color: #EEE;
    transition: all .3s ease-in-out;
}

.icon-line3 {
    width: 20%;
    height: 1px;
    background-color: #EEE;
    transition: all .3s ease-in-out;
}

.spin .icon-line1 {
    width: 100%;
    transform: rotate(45deg) translate(7px, 7px);
}

.spin .icon-line2 {
    display: none;
}

.spin .icon-line3 {
    width: 100%;
    transform: rotate(-45deg) translate(7px, -7px);
}

/* ========================= nav ========================= */
.header-mene {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.header-menu__nav {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav-list__item {
    padding: 15px;
}

.nav-list__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #287ADC;
    border: none;
    background-color: #FFF;
}

.nav-list__link:hover {
    cursor: pointer;
    opacity: .7;
    border-bottom: 3px solid #287ADC;
}

/* ========================= title ========================= */
.header-title {
    font-size: 32px;
    font-weight: bold;
    color: #287ADC;
}

@media screen and (max-height: 600px) {
    .header {
        top: 0;
        padding-top: 5px;
        background-color: #333;
        height: 65px;
        opacity: .8;
    }

    .header-inner {}

    .header-icon {
        background-color: #EEE;
    }

    .icon-line1 {
        background-color: #333;
    }

    .icon-line2 {
        background-color: #333;
    }

    .icon-line3 {
        background-color: #333;
    }

    .header-title {
        font-size: 32px;
        font-weight: bold;
        color: #EEE;
    }
}

/* ========================= add-class ========================= */
.close {
    display: none;
}

.open {
    display: flex;
}

.sub {
    left: 1%;
}

/* ======================================================================
main
====================================================================== */
.main {
    height: 100vh;
    background-color: #EEE;
    z-index: 1;
}

/* ======================================================================
aside
====================================================================== */
.upper {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    background-color: #287ADC;
    text-align: center;
    font-size: 32px;
    color: #FFF;
    transform: rotate(90deg);
    opacity: .5;
}

.upper:hover {
    cursor: pointer;
    opacity: .8;
}