@charset "UTF-8";

.shop-section {
    width: 60%;
    margin: 11vh auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #CCC;
}

.shop-title {
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    color: #555;
}

.shop-input {
    padding: 15px;
    border-radius: 5px;
    background-color: #EEE;
}

.search-title {
    padding: 0;
}

.search-content {
    width: 100%;
    border-radius: 5px;
    border-color: #888;
    padding: 3px 5px;
}

.shop-error {
    min-height: 15px;
}

.shop-button {
    display: block;
    width: 100%;
    min-height: 32px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #888;
    margin: 5px 0;
    padding: 5px;
    background-color: #60CCAA;
    color: #FFF;
}

.shop-button.home {
    background-color: #FF5555;
}

.shop-button:hover {
    cursor: pointer;
    border: none;
    background-color: #888;
    color: #FFF;
}

.shop-error {
    color: #FF0000;
    font-weight: bold;
}

/* ===========================================================================
メディアクエリ
=========================================================================== */
@media screen and (max-width: 360px) {
    .shop-section {
        width: 85%;
    }
}

@media screen and (max-width: 280px) {
    .shop-section {
        margin-top: 17vh;
    }
}