@charset "UTF-8";

/* ======================================================================
all
====================================================================== */
.logout-section {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.logout-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 0 auto;
    padding: 100px 50px;
    border: none;
    box-shadow: 3px 3px 2px #AAA;
    border-radius: 5px;
    background-color: #FFF;
}

.logout-title__content {
    text-align: center;
    font-size: 18px;
}

.logout-button__login {
    display: block;
    max-width: 150px;
    margin: 50px auto 0;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    background-color: #287ADC;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.logout-button__login:hover {
    cursor: pointer;
    background-color: #0000FF;
}

/* ======================================================================
メディアクエリ
====================================================================== */

@media screen and (max-width: 480px) {
    .logout-wrapper {
        width: 80%;
        padding: 32px;
    }
}