@charset "UTF-8";

/* ======================================================================
all
====================================================================== */
/* ========================= email ========================= */
.email-section {
    width: 100%;
    height: 100%;
    padding: 125px;
}

.email-wrapper {
    width: 80%;
    max-width: 550px;
    margin: 0 auto;
    padding: 32px;
    border: none;
    box-shadow: 3px 3px 2px #AAA;
    border-radius: 5px;
    background-color: #FFF;
}

@media screen and (max-width: 768px) {
    .email-section {
        padding: 100px 0;
    }

    .main {
        height: auto;
    }
}

.email__group {}

.email__title {
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
}

.email__content {
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
}

/* ========================= resend-email ========================= */
.resend-email__group {
    border-radius: 5px;
    background-color: #EEE;
    padding: 15px;

}

.resend_email__description {
    font-size: 16px;
}

.resend-email__form {
    padding: 5px;
}

.resend-email__button {
    display: block;
    margin: 10px auto 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px #888;
    background-color: #287ADC;
    padding: 8px 32px;
    color: #FFF;
}

.resend-email__button:hover {
    cursor: pointer;
    opacity: .8;
}