@charset "UTF-8";

/* ======================================================================
all
====================================================================== */


.header {
    border-radius: 5px;
    background-color: #EEE;
}

.detail-section {
    padding: 32px 39px;
    background-color: #EEE;
}

.detail-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .detail-main {
        display: block;
    }
}

/* ======================================================================
shops
====================================================================== */
.detail-shop {
    width: 55%;
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .detail-shop {
        width: 100%;
    }
}

/* ========================= title ========================= */

.shop-title {
    display: flex;
    justify-self: left;
    align-items: center;
    margin-bottom: 24px;
}

.shop-button__back {
    margin: 0 15px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #888;
    background-color: #FFF;
    text-decoration: none;
    font-size: 24px;
}

.shop-button__back:hover {
    background-color: #333;
    color: #FFF;
}

.shop-title__text {
    font-size: 24px;
}

.shops-cards {}

.shop-card {
    width: 100%;
    margin: 10px 0 32px;
}

/* ========================= image ========================= */
.shop-card__firstView {}

.shop-card__image {
    width: 100%;
}

.shop-card__content {}

/* ========================= top-group ========================= */
.shop-card__top-group {
    display: flex;
    justify-content: left;
    align-items: center;
}

.shop-card__tags {}

.shop-card__tag {}

.shop-card__clicks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.shop-card__form {}

.shop-card__interest-click {
    border: none;
    background-color: #EEE;
    font-size: 32px;
    color: #CCC;
}

.shop-card__interest-click.true {
    color: #FF0000;
}

.shop-card__interest-click:hover {
    cursor: pointer;
    color: #FF0000;
}

/* ========================= description ========================= */
.shop-card__description {}

.shop-card__description-content {}

/* ======================================================================
reserve
====================================================================== */
.detail-reserve {
    width: 45%;
    height: 532px;
    margin-left: 52px;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888;
    background-color: #287ADC;
    position: relative;
}

@media screen and (max-width: 768px) {
    .detail-reserve {
        width: 100%;
        margin: 52px 0;
    }
}

.reserve-title {
    padding: 8px 15px 15px;
}

.reserve-title__text {
    font-size: 24px;
    color: #FFF;
}

.reserve-card {}

.reserve-form {}

.reserve-card__input-group {
    padding: 0 15px;
}

.reserve-card__input {
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.reserve-card__select {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.reserve-card__select:nth-of-type(1) {
    width: 100%;
    margin-bottom: 15px;
}

.reserve-card__select-item {}

.reserve-card__input-error {
    color: #FF8888;
    font-weight: bold;
    padding-bottom: 15px;
}

.reserve-card__content {
    width: 85%;
    border-radius: 5px;
    margin: 0 15px 0;
    padding: 20px 10px;
    background-color: #289ADC;
}

.reserve-table {
    width: 100%;
    table-layout: auto;
}

.reserve-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reserve-item__title {
    width: 30%;
    text-align: left;
    padding-right: 15px;
    font-size: 12px;
    font-weight: normal;
    color: #FFF;
}

.reserve-item__content {
    width: 70%;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    font-size: 12px;
    color: #FFF;
}

.reserve-card__button {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.reserve-card__button-reserve {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: #3333FF;
    color: #FFF;
}

.reserve-card__button-reserve:hover {
    cursor: pointer;
    opacity: .7;
}

/* =============== sub */
.detail-sub {
    margin: 32px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #60CCAA;
}

.detail-rate {}

.rate-title {
    padding: 8px 0 15px;
}

.rate-title__text {
    font-size: 24px;
    color: #FFF;
}

.rate-display {
    padding: 10px 0 0;
}

.rate-display__title {}

.rate-display__title-text {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.rate-display__content {
    padding: 5px 15px;
}

.rate-display__item {
    padding: 5px;
    text-decoration: none;
    color: #0000FF;
}

.rate-comment {}

.rate-comment__top-group {}

.rate-comment__top-title {
    padding: 10px 0;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.rate-comment__top-title__text {}

.rate-comment__input-group {}

.rate-comment__input-form {}

.rate-comment__input-item {}

.rate-comment__input-title {
    display: block;
}

.rate-comment__input {
    width: 80%;
    margin: 5px 5px 5px 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #888;
}

.rate-comment__input-item {}

.rate-comment__input-title {}

.rate-comment__input-text {
    width: 80%;
    margin: 5px 5px 5px 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #888;
}

.rate-comment__input-item {}

.rate-comment__input-button {
    margin: 5px 5px 32px 15px;
    padding: 8px 45px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px .5px #888;
    background-color: #333;
    color: #FFF;
}

.rate-comment__input-button:hover {
    cursor: pointer;
    background-color: #0000FF;
}

.rate-comment__content-group {
    background-color: #60DDCC;
    padding: 15px;
    border-radius: 5px;
}

.rate-comment__content-title {
    padding: 5px 0;
}

.rate-comment__content-title__text {}

.rate-comment__content-item {
    padding: 15px;
    border-top: 2px dotted #333;
}

.rate-comment__content-item:last-of-type {
    border-bottom: 2px dotted #333;
}

.rate-comment__content-title {}

.rate-comment__content-rates {}

.rate-comment__content-rate {
    text-decoration: none;
    color: #0000FF;
}

.rate-comment__display-content {
    word-wrap: break-word;
}

/* ======================================================================
add-class
====================================================================== */
.color {
    background-color: #FFF;
}