@charset "UTF-8";

/* ======================================================================
all
====================================================================== */
.header {
    border-radius: 5px;
    background-color: #EEE;
}

.mypage-section {
    padding: 100px 75px;
    background-color: #EEE;
}

.mypage-header__name {
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

.mypage-content {
    display: flex;
    justify-content: space-between;
}

/* ======================================================================
reserve
====================================================================== */
.mypage-reserve {
    width: 40%;
    padding-left: 50px;
}

.reserve-title__text {
    padding: 10px 10px 20px;
    font-size: 16px;
}

.reserve-cards {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.reserve-card {
    width: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #888;
    background-color: #287ADC;
}

.reserve-card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.reserve-card__title-top {
    display: flex;
    align-items: center;
}

.reserve-card__title-icon {
    font-size: 18px;
    fill: #FFF;
}

.reserve-card__title-text {
    padding-left: 24px;
    color: #FFF;
    font-weight: normal;
    font-size: 12px;
}

.reserve-card__button-group {
    display: flex;
    align-items: center;
}

.reserve-card__update-button {
    width: 45%;
    margin-top: 15px;
    padding: 5px 0;
    border: none;
    border-radius: 8px;
    box-sizing: 0 0 3px 3px #FFF;
    background-color: #FFF;
    font-weight: bold;
}

.reserve-card__pay-button {
    width: 45%;
    margin: 15px 0 0 15px;
    padding: 5px 0;
    border: none;
    border-radius: 8px;
    box-sizing: 0 0 3px 3px #FFF;
    background-color: #FFF;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.reserve-card__update-button:hover,
.reserve-card__pay-button:hover {
    opacity: .7;
    cursor: pointer;
}

.reserve-card__delete-button {
    border-radius: 45px;
    border: 3px solid #FFF;
    background-color: #287ADC;
    color: #FFF;
    font-weight: bold;
    transform: scale(.7);
}

.reserve-card__delete-button:hover {
    cursor: pointer;
    transform: scaleX(1.1);
}

.reserve-card__content {
    width: 100%;
}

.reserce-card__item-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reserve-card__item-buttons {
    display: flex;
    align-items: center;
    padding-top: 15px;
    justify-content: left;
}

.reserve-card__item-title {
    width: 25%;
    text-align: left;
    padding: 5px 0;
    font-size: 12px;
    font-weight: normal;
    color: #FFF;
}

.reserve-card__item-content {
    width: 75%;
    border: none;
    border-radius: 3px;
    background-color: #287ADC;
    padding: 5px 0;
    font-size: 12px;
    color: #FFF;
}

.reserve-card__item-content__option {
    background-color: #FFF;
    color: #287ADC;
}

.reserve-card__input-error {
    color: #FF8888;
    font-weight: bold;
}

.reserve-card__item-content::placeholder {
    color: #FFF;
}

/* ======================================================================
shops
====================================================================== */
.mypage-shops {
    width: 60%;
    padding-left: 50px;
}

.shops-title__text {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
}

.shops-cards {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.shop-card {
    width: 225px;
    margin: 10px 24px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #888;
}

/* ========================= image ========================= */
.shop-card__firstView {
    border-radius: 5px 5px 0 0;
}

.shop-card__image {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.shop-card__content {
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

/* ========================= title ========================= */
.shop-title {
    padding-bottom: 5px;
    font-size: 18px;
}

/* ========================= clicks ========================= */
.shop-card__clicks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.shop-card__detail-click {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #287ADC;
    text-decoration: none;
    color: #FFF;
}

.shop-card__detail-click:hover {
    opacity: .5;
}

.shop-card__interest-click {
    border: none;
    background-color: #FFF;
    font-size: 32px;
    color: #EEE;
}

.shop-card__interest-click.true {
    color: #FF0000;
}

.shop-card__interest-click:hover {
    cursor: pointer;
    color: #FF0000;
}

/* ========================= add-class ========================= */
.color {
    background-color: #FFF;
}

/* ======================================================================
メディアクエリ
====================================================================== */
@media screen and (max-width: 960px) {
    .mypage-section {
        padding: 100px 15px;
    }

    .mypage-content {
        display: block;
    }

    .mypage-reserve {
        padding-left: 0;
        width: 100%;
    }

    .mypage-shops {
        width: 100%;
        padding-left: 0;
    }

    .shops-title__text {
        padding: 10px;
    }
}

@media screen and (max-width: 348px) {
    .reserce-card__item-group {
        display: block;
    }

    .reserve-card__item-title {
        display: block;
    }

    .reserve-card__item-content {
        display: block;
        padding-left: 15px;
    }
}